<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <section class="hero-wrap hero-wrap-2"
             style="background-image: url('/petsitting-master/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2">
                        <span class="mr-2"><span>Inquiry Board<i class="ion-ios-arrow-forward"></i></span></span>
                    </p>
                    <div th:if="${boardType.equals('free')}">
                        <h1 class="mb-0 bread">자유 게시판</h1>
                    </div>
                    <div th:if="${boardType.equals('inquiry')}">
                        <h1 class="mb-0 bread">문의 게시판</h1>
                    </div>
                    <div th:if="${boardType.equals('adopt_review')}">
                        <h1 class="mb-0 bread">입양후기 게시판</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">

            <div class="modal-header">
                <div class="float-left">
                    <a th:href="|/board/${boardType}/list?sort=createdDate,desc|"><button class="btn btn-primary" type="button">최신순</button></a> &nbsp;
                    <a th:href="|/board/${boardType}/list?sort=createdDate,asc|"><button class="btn btn-primary" type="button">오래된순</button></a> &nbsp;
                </div>
            </div> &nbsp; &nbsp;
            <br class="inner-main-body p-2 p-sm-3 collapse forum-content show">


            <!-- 목록 출력 -->
            <div th:each="board : ${boardPage.realPage.content}">
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="media forum-item">
                            <div class="media-body">
                                <!-- 작성자, 작성 날짜 -->
                                <div class="text-muted">
                                    <small>
                                        <span th:text="${board.writerName}"></span>
                                    </small>
                                </div>

                                <!-- 제목 -->
                                <div class="text-secondary">
                                    <div th:if="${board.shownAll == true}">
                                        <a class="text-body" style="font-size: 1.3em;" th:href="|/board/${boardType}/detail/${board.id}|"
                                           th:text="${board.title}">게시글 제목</a>
                                    </div>

                                    <div th:if="${board.shownAll == false}">
                                        <span th:if="${session.loginMember != null && (session.loginMember.id == board.memberId || session.loginMember.grade.name() == 'ADMIN')}">
                                            <a class="text-body" style="font-size: 1.3em;" th:href="|/board/${boardType}/detail/${board.id}|"
                                               th:text="${board.title}">게시글 제목</a>
                                        </span>

                                        <span th:remove="${session.loginMember != null && (session.loginMember.id == board.memberId || session.loginMember.grade.name() == 'ADMIN')}? all">
                                            <a class="text-body" style="font-size: 1.3em;" th:text="${board.title}">게시글 제목</a>
                                        </span>

                                    </div>
                                </div>

                                <small>작성 시간 <span class="far" th:text="|[${{board.createdDate}}]|"></span></small>
                            </div>

                            <!-- list 공개 / 비공개 -->
                            <div class="text-muted small text-center align-self-center">
                                <div th:if="${board.shownAll == true}">
                                    <span><i class="far fa-comment ml-2"></i></span>
                                    <a class="text-body" style="font-size: 1.3em;">공개</a>
                                </div>

                                <div th:if="${board.shownAll == false}">
                                    <span><i class="far fa-comment ml-2"></i></span>
                                    <a class="text-body" style="font-size: 1.3em;">비공개</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 글쓰기 버튼  -->
            <span class="modal-footer">
				<a type="button" class="btn btn-primary" th:href="|/board/${boardType}/auth/write|">글쓰기</a>
			</span>

            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <!--6 페이지 이상인 경우 '<' 표시-->
                            <li>
                                <p th:if="${(boardPage.realPage.number + 1) gt 5}">
                                    <a th:href="|/board/${boardType}/list?page=${boardPage.realPage.number - 5}|">&lt;</a>
                                </p>
                            </li>

                            <!--5의 배수로 페이지 보여줄 페이지-->
                            <th:block th:each="pageNumber : ${#numbers.sequence(boardPage.startPage, boardPage.endPage)}">
                                <li th:if="${pageNumberStat.current le boardPage.realPage.totalPages}"
                                    th:classappend="${pageNumberStat.current == (boardPage.realPage.number + 1)} ? 'active' : ''">
                                    <a th:href="|/board/${boardType}/list?page=${pageNumberStat.current - 1}|" th:text="${pageNumberStat.current}">페이지</a>
                                </li>
                            </th:block>

                            <!--이전 5개의 보여줄 페이지가 있을 시 '>'-->
                            <li>
                                <p th:if="${(boardPage.realPage.totalPages - boardPage.endPage) gt 0}">
                                    <a th:href="|/board/${boardType}/list?page=${boardPage.startPage + 4}|">&gt;</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</th:block>
</html>