<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <section class="hero-wrap hero-wrap-2"
             style="background-image: url('/petsitting-master/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <div th:if="${boardType.equals('free')}">
                        <h1 class="mb-0 bread">자유 게시판 - 상세보기</h1>
                    </div>
                    <div th:if="${boardType.equals('inquiry')}">
                        <h1 class="mb-0 bread">문의 게시판 - 상세보기</h1>
                    </div>
                    <div th:if="${boardType.equals('adopt_review')}">
                        <h1 class="mb-0 bread">입양후기 게시판 - 상세보기</h1>
                    </div>
                    <div th:if="${boardType.equals('find')}">
                        <h1 class="mb-0 bread">반려동물 찾아요 게시판 - 상세보기</h1>
                    </div>
                    <div th:if="${boardType.equals('watch')}">
                        <h1 class="mb-0 bread">유기동물 봤어요 게시판 - 상세보기</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="media forum-item">

                        <!--제목, 작성일, 작성자-->
                        <div class="media-body ml-3">
                            <b><span style="font-size: 2em; margin: 20px" th:text="${board.title}">게시글 제목</span></b>

                            <h3 style="display: inline" th:if="${boardType.equals('find') || boardType.equals('watch')}">
                                <span class="badge text-white rounded-pill" th:text="${board.boardStatus.description}"
                                      th:classappend="|${board.boardStatus.name().equals('LOST') ? 'bg-danger' : 'bg-info'}|">
                                        매칭 유무
                                </span>
                            </h3>
                            <h6 class="mt-1"></h6>

                            <small><span class="far fa-comment ml-2" th:text="|작성 시간 - ${{board.createdDate}}|">작성 날짜</span></small>
                            <small><span class="far fa-comment ml-2" th:text="|작성자 - ${{board.member.name}}|">작성자 이름</span></small>
                            <span th:remove="${boardType.equals('find') || boardType.equals('watch')} ? all">
                                <small><span class="far fa-comment ml-2" th:if="${board.shownAll == true}">공개</span></small>
                                <small><span class="far fa-comment ml-2" th:if="${board.shownAll == false}">비공개</span></small>
                            </span>
                            <div class="modal-footer"></div>

                            <div class="row">
                                <div class="col-lg-4" th:if="${boardType.equals('find') || boardType.equals('watch')}" th:remove="${board.lostOrWatchTime == null} ? all">
                                    <span class="badge bg-primary text-white" th:if="${boardType.equals('find')}">잃어버린 시간</span>
                                    <span class="badge bg-primary text-white" th:if="${boardType.equals('watch')}">발견한 시간</span>
                                    <span th:text="${{board.lostOrWatchTime}}"></span>
                                </div>

                                <div class="col-lg-3" th:if="${boardType.equals('find') || boardType.equals('watch')}" th:remove="${board.species == null} ? all">
                                    <span class="badge bg-primary text-white">종</span>
                                    <span th:text="${board.species.description}"></span>
                                </div>
                            </div>

                            <div class="row" th:if="${boardType.equals('find') || boardType.equals('watch')}">
                                <div class="col-lg-2" th:remove="${board.animalName == null} ? all">
                                    <span class="badge bg-primary text-white">이름</span>
                                    <span th:text="${board.animalName}"></span>
                                </div>

                                <div class="col-lg-2" th:remove="${board.animalKind == null} ? all">
                                    <span class="badge bg-primary text-white">종류</span>
                                    <span th:text="${board.animalKind}"></span>
                                </div>

                                <div class="col-lg-2" th:remove="${board.animalAge == null} ? all">
                                    <span class="badge bg-primary text-white">나이</span>
                                    <span th:text="${{board.animalAge}}"></span>
                                </div>

                                <div class="col-lg-2" th:remove="${board.animalWeight == null} ? all">
                                    <span class="badge bg-primary text-white">몸무게</span>
                                    <span th:text="${{board.animalWeight}}"></span>
                                </div>
                            </div>
                            <br/>

                            <!--이미지-->
                            <span th:each="picture : ${board.pictures}">
                                <img class="col-lg-5" th:src="|/board/image/${picture.fileStoreName}|"/>
                            </span>

                            <!--게시글 내용-->
                            <div class="mt-3 font-size-lg" th:text="${board.content}">게시글 내용</div>
                            <h1 class="mt-1"></h1>
                            <div class="modal-header"></div>

                            <!--댓글 내용-->
                            <div class="list-group-item d-flex gap-3 py-3" aria-current="true" th:each="reply : ${board.replies}">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <span class="mb-0"><strong th:text="${reply.writerName}">작성자</strong></span> <span class="mb-0"><small th:text="|- [${{reply.lastModifiedDate}}]|"> - 작성 시간</small></span>
                                        <h5 class="mb-0 opacity-75" th:text="${reply.content}">댓글 내용</h5>
                                    </div>
                                </div>
                                <span th:if="${session.loginMember != null && (session.loginMember.id == reply.memberId || session.loginMember.grade.name() == 'ADMIN')}">
                                    <form th:action="|/board/${boardType}/${board.id}/auth/reply/delete/${reply.id}|" method="post">
                                        <button type="submit" class="btn-sm btn-danger text-white text-center" style="float: right; width: 50px; height: 30px;">삭제</button>
                                    </form>
                                </span>
                            </div>
                            <br>

                            <!--댓글 작성-->
                            <div class="card mb-2" id="message" th:if="${session.loginMember != null}">
                                <div class="card-body">
                                    <div class="col-md-8 col-lg-12">
                                        <div class="comment-wrapper">
                                            <div class="panel panel-info">
                                                <form class="panel-body" th:action="|/board/${boardType}/${board.id}/auth/reply/write|" method="post">
                                                    <div class="form-group">
                                                        <textarea cols="30" rows="3" class="form-control" th:field="${writeReplyForm.content}" th:errorclass="field-error"
                                                                  placeholder="댓글을 작성해주세요."></textarea>
                                                        <span class="field-error" th:errors="${writeReplyForm.content}"></span>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary addBtn">
                                                            댓글 등록
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--수정, 삭제, 목록 버튼 -->
                            <span th:if="${session.loginMember != null && (session.loginMember.id == board.member.id || session.loginMember.grade.name() == 'ADMIN')}">
                                <a type="button" class="btn btn-light" th:href="|/board/${boardType}/auth/modify/${board.id}|">수정</a>
                                <a type="button" class="btn btn-danger" th:href="|/board/${boardType}/auth/delete/${board.id}|">삭제</a>
                            </span>

                            <a type="button" class="btn btn-primary" style="float:right;" th:href="|/board/${boardType}/list|">목록으로</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</th:block>
</html>