<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/petsitting-master/images/bg_2.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <h1 class="mb-0 bread">유기동물 상세보기</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-5 d-flex">
                    <img th:src="|/abandoned_animal/image/${animal.pictureStoreName}|"  style='width: 100%; object-fit: contain'/>
                </div>
                <div class="col-md-7 pl-md-5 py-md-5">
                    <div class="heading-section pt-md-5">
                        <h2 class="mb-4" th:text="${animal.name}">유기동물 이름</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6 services-2 w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-info-circle" aria-hidden="true"></span></div>
                            <div class="text pl-3">
                                <h4>종</h4>
                                <p th:text="${animal.species}">유기동물 종</p>
                            </div>
                        </div>

                        <div class="col-md-6 services-2 w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-info-circle" aria-hidden="true"></span></div>
                            <div class="text pl-3">
                                <h4>나이</h4>
                                <p th:text="|${animal.age}살|">몇 살</p>
                            </div>
                        </div>

                        <div class="col-md-6 services-2 w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-info-circle" aria-hidden="true"></span></div>
                            <div class="text pl-3">
                                <h4>몸무게</h4>
                                <p th:text="|${animal.weight}Kg|"> 몇 Kg</p>
                            </div>
                        </div>

                        <div class="col-md-6 services-2 w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-info-circle" aria-hidden="true"></span></div>
                            <div class="text pl-3">
                                <h4>상태</h4>
                                <p th:text="${animal.status}">유기동물 상태</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row mt-5 pt-4">
                <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                    <div class="d-block services text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-credit-card-alt" aria-hidden="true"></span>
                        </div>
                        <div class="media-body p-4">
                            <h3 class="heading">후원하기</h3>
                            <p>이 동물에게 후원해주세요!</p>
                            <a th:href="|/abandoned_animal/auth/donate/${animal.id}|" class="btn-custom d-flex align-items-center justify-content-center">
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                    <div class="d-block services text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-shield" aria-hidden="true"></span>
                        </div>
                        <div class="media-body p-4">
                            <h3 class="heading">임시보호하기</h3>
                            <p>이 동물을 임시보호 해주세요!</p>
                            <a th:href="|/abandoned_animal/auth/tempProtect/${animal.id}|" class="btn-custom d-flex align-items-center justify-content-center">
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                    <div class="d-block services text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-user-plus" aria-hidden="true"></span>
                        </div>
                        <div class="media-body p-4">
                            <h3 class="heading">입양하기</h3>
                            <p>이 동물을 입양 해주세요!</p>
                            <a th:href="|/abandoned_animal/auth/adopt/${animal.id}|" class="btn-custom d-flex align-items-center justify-content-center">
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>