<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<th:block layout:fragment="content">
    <section class="hero-wrap hero-wrap-2"
             style="background-image: url('/petsitting-master/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <h1 class="mb-0 bread">내가 쓴 게시글 조회</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <!-- 목록 출력 -->
            <div th:each="form : ${forms}">
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="media forum-item">
                            <div class="media-body">
                                <!-- 작성자, 작성 날짜 -->
                                <div class="text-muted">
                                    <small>
                                        <span th:text="${form.boardType.description}"></span>
                                    </small>
                                </div>

                                <!-- 제목 -->
                                <div class="text-secondary">
                                        <a class="text-body" style="font-size: 1.3em;" th:href="|/board/${form.boardType}/detail/${form.id}|"
                                           th:text="${form.title}">게시글 제목</a>
                                </div>

                                <small>작성 시간 <span class="far" th:text="|[${{form.createdDate}}]|"></span></small>
                            </div>

                            <!-- list 공개 / 비공개 -->
                            <div class="text-muted small text-center align-self-center">
                                <div th:if="${form.shownAll == true}">
                                    <span><i class="far fa-comment ml-2"></i></span>
                                    <a class="text-body" style="font-size: 1.3em;">공개</a>
                                </div>

                                <div th:if="${form.shownAll == false}">
                                    <span><i class="far fa-comment ml-2"></i></span>
                                    <a class="text-body" style="font-size: 1.3em;">비공개</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</th:block>
</html>