<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">회원 탈퇴</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            <div class="col-md-7">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">정말 탈퇴하시겠습니까?</h3>
                                    <form class="contactForm" th:action method="post">
                                        <div class="row" th:object="${withdrawMemberForm}">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">비밀번호를 입력해주세요.</label>
                                                    <input type="password" class="form-control" th:errorclass="field-error"
                                                           th:field="${withdrawMemberForm.password}" placeholder="비밀번호">
                                                    <span class="field-error" th:errors="${withdrawMemberForm.password}"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">비밀번호를 확인해주세요.</label>
                                                    <input type="password" class="form-control" th:errorclass="field-error"
                                                           th:field="${withdrawMemberForm.passwordCheck}" placeholder="비밀번호 확인">
                                                    <span class="field-error" th:errors="${withdrawMemberForm.passwordCheck}"></span>
                                                </div>
                                            </div>

                                            <div th:if="${#fields.hasGlobalErrors()}">
                                                <p class="field-error" th:each="error : ${#fields.globalErrors()}" th:text="${error}">
                                                    로그인 에러 메시지
                                                </p>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="탈퇴하기" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">
                                <div class="info-wrap w-100 p-5 img"
                                     style="background-image: url(/petsitting-master/images/img.jpg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>